<!-- Portfolio Modals -->
{% for post in site.projects %}
   <div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
       <div class="modal-content">
           <div class="close-modal" data-dismiss="modal">
               <div class="lr">
                   <div class="rl">
                   </div>
               </div>
           </div>
           <div class="container">
               <div class="row">
                   <div class="col-lg-8 col-lg-offset-2">
                       <div class="modal-body">
                           <h2>{{ post.title }}</h2>
                           <p class="item-intro text-mute">{{ post.quick-summary }}</p>
                           {% if post.collaborators%}
                           <p class="item-intro text-mute">In collaboration with
                             {% for collab in post.collaborators %}
                                <a href="{{ collab.url }}" target="_blank"> {{collab.name}} </a>
                                {% if forloop.last == false %}
                                ,
                                {% endif %}
                             {% endfor %}
                           </p>
                           {% endif %}
                           <hr class="star-primary">
                           {% if post.img%}
                           <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                           {% endif %}
                           {% if post.youtube_url%}
                           <div class="embed-responsive embed-responsive-16by9">
                             <iframe class="embed-responsive-item" src={{ post.youtube_url }}></iframe>
                           </div>
                           {% endif %}

                           {% if post.vimeo_url%}
                           <div class="embed-responsive embed-responsive-16by9">
                             <iframe class="embed-responsive-item" src={{ post.vimeo_url }} frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                           </div>
                           {% endif %}

                           <hr class="star-primary">
                           <p>{{ post.description }}</p>
                           <ul class="list-inline item-details">
                               <li><strong>Date:</strong>
                                 {{ post.project-date }}
                               </li>
                               {% if post.category%}
                               <li><strong>Category:</strong>
                                 {% for c in post.category %}
                                 {{c}}
                                 {% if forloop.last == false %}
                                 ,
                                 {% endif %}
                                 {% endfor %}
                               </li>
                               {% endif %}
                           </ul>
                           <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
{% endfor %}
